.about-company {
    margin-top: 34px;
    .catalog {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        flex-wrap: wrap;
        gap: 20px;
        .opt {
            background: #F9F9F9;
            padding: 10px 16px;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: -1%;
            color: #1A1A1A;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 868px) {
    .about-company {
        .catalog {
            justify-content: center;
        }
    }
}