.partners {
    max-width: 100%;
    background: #F9F9F9;
    padding: 64px 100px;
    margin-bottom: 112px;
    margin-left: 30px;
    margin-right: 30px;
    .ttl {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: -1%;
    }
    .logos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        .img {
            padding: 49px 0 0 0;
            img {
                width: 120px;
            }
        }
    }
}

@media (max-width: 1019px) {
    .partners {
        .logos {
            .img:last-child img {
                display: none;
            }
        }
    }
}

@media (max-width: 912px) {
    .partners {
        margin-bottom: 64px;
    }
}

@media (max-width: 869px) {
    .partners {
        .for-center {
            display: flex;
            flex-direction: column;
            align-items: center;
            .logos {
                width: 50%;
            }
        }
    }
}

@media (max-width: 869px) {
    .partners {
        .for-center {
            display: flex;
            flex-direction: column;
            align-items: center;
            .logos {
                width: 50%;
            }
        }
    }
}

@media (max-width: 839px) {
    .partners {
        display: none;
    }
}