@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './vars';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
    a {
        font-family: $font;
        text-decoration: none;
    }
}