.cards-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    .card {
        flex: 0 0 auto;
        width: 350px;
        img {
            margin-bottom: 24px;
            width: 350px;
            height: 232px;
            object-fit: cover;
        }
        .ttl {
            font-weight: 700;
            font-size: 22px;
            margin-bottom: 12px;
            border-bottom: 1px solid #E3E8ED;
            width: 300px;
        }
        .price {
            font-weight: 400;
            font-size: 16px;
            color: #97A1B0;
        }
        &:hover {
            cursor: pointer;
            .ttl {
                color: #29ABE2;
            }
            .price {
                color: #1A1A1A;
            }
        }
    }
}