.repair_and_decoration {
    color: #1A1A1A;
    .title {
        font-weight: 900;
        font-size: 64px;
        line-height: 68px;
        letter-spacing: -1%;
        margin-bottom: 32px;
    }
    .path {
        width: 250px;
        margin-top: 34px;
        margin-bottom: 64px;
    }
    .txt {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 64px;
    }
    .img {
        max-width: 100%;
        margin-bottom: 112px;
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .numerically {
        margin-bottom: 112px;
        .ttl {
            font-weight: 900;
            font-size: 48px;
            line-height: 58px;
            letter-spacing: -1%;
        }
        .item {
            width: 90%;
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: start;
            border-bottom: #E3E8ED 1px solid;
            padding: 40px 0;
            gap: 20px;
            &:first-child {
                padding-top: 0;
            }
            .box {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                .ttl__box {
                    font-weight: 900;
                    font-size: 96px;
                    letter-spacing: -4%;
                    margin-bottom: 0;
                }
                .txt_box {
                    font-weight: 400;
                    font-size: 16px;
                }
            }
            .text__item {
                font-weight: 400;
                font-size: 22px;
                line-height: 32px;
                width: 445px;
                max-width: 100%;
            }
        }
    }
    .why-we {
        margin-bottom: 112px;
        .ttl {
            font-weight: 900;
            font-size: 48px;
            letter-spacing: -1%;
            margin-bottom: 48px;
        }
        .boxes {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            .box {
                background: #F9F9F9;
                width: 350px;
                max-width: 100%;
                height: 464px;
                max-height: 100%;
                padding: 32px 24px;
                border-bottom: #1A1A1A 8px solid;
                .emoji {
                    margin-bottom: 48px;
                }
                .ttl__box {
                    font-weight: 700;
                    font-size: 22px;
                    margin-bottom: 24px;
                }
                .texts {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 25px;
                    .more {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 27px;
                    }
                }
            }
        }
    }
    .apartment {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 112px;
        width: 784px;
        max-width: 100%;
        .ttl-mini {
            font-weight: 900;
            font-size: 48px;
            line-height: 58px;
            letter-spacing: -1%;
            color: #29ABE2;
            width: 712px;
        }
        &:hover {
            text-decoration: underline #29ABE23D;
        }
    }
    .instagram {
        background: none;
        .titles {
            .ttl {
                color: #1A1A1A;
            }
        }
    }
}

@media (max-width: 1107px) {
    .repair_and_decoration {
        .title {
            font-size: 50px;
            line-height: 60px;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 803px) {
    .repair_and_decoration {
        .title {
            font-size: 40px;
            line-height: 50px;
        }
        .img {
            height: 300px;
        }
        .path {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 624px) {
    .repair_and_decoration {
        .title {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 12px;
        }
        .txt {
            font-size: 15px;
        }
        .img {
            height: 200px;
            margin-bottom: 40px;
        }
        .numerically {
            .ttl {
                font-size: 40px;
            }
        }
        .why-we {
            .ttl {
                font-size: 35px;
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 763px) {
    .repair_and_decoration {
        .numerically {
            .item {
                flex-direction: column;
                width: 100%;
            }
        }
    }
}

@media (max-width: 487px) {
    .repair_and_decoration {
        .numerically {
            .ttl {
                font-size: 30px;
                line-height: 30px;
            }
            .item {
                padding: 30px;
            }
        }
    }
}

@media (max-width: 1005px) {
    .repair_and_decoration {
        .why-we {
            .boxes {
                flex-wrap: wrap;
                justify-content: center;
                gap: 40px;
            }
        }
    }
}

@media (max-width: 750px) {
    .repair_and_decoration {
        .apartment {
            margin-bottom: 64px;
            .arrow {
                display: none;
            }
            .ttl-mini {
                font-size: 40px;
            }
        }
        .why-we {
            margin-bottom: 50px;
        }
    }
}

@media (max-width: 459px) {
    .repair_and_decoration {
        .apartment {
            .ttl-mini {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }
}

@media (max-width: 605px) {
    .repair_and_decoration {
        .instagram {
            .photos {
                justify-content: center;
            }
        }
    }
}