.slider {
    position: relative;
    width: 825px;
    max-width: 100%;
    .img {
        width: 825px;
        max-width: 100%;
        height: 400px;
        object-fit: cover;
        margin-bottom: 24px;
    }
    .arrows {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        position: absolute;
        right: 0;
        bottom: 50px;
        img {
            cursor: pointer;
        }
    }
    .about-slider {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
        .title {
            font-weight: 700;
            font-size: 22px;
        }
        .which {
            font-weight: 400;
            font-size: 18px;
            letter-spacing: -1%;
            color: #97A1B0;
        }
    }
}

@media (max-width: 1152px) {
    .slider {
        width: 100%;
    }
}

@media (max-width: 777px) {
    .slider {
        .arrows {
            bottom: 102px;
        }
        .about-slider {
            flex-direction: column;
        }
    }
}

@media (max-width: 731px) {
    .slider {
        .arrows {
            bottom: 50px;
        }
        .about-slider {
            flex-direction: row;
        }
    }
}

@media (max-width: 536px) {
    .slider {
        .arrows {
            bottom: 102px;
        }
        .about-slider {
            flex-direction: column;
        }
    }
}

@media (max-width: 449px) {
    .company-policy {
        .slider {
            display: none;
        }
    }
}