.box__slider {
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
    }
    .video {
        position: relative;
        display: flex;
        iframe {
            width: 540px;
            height: 312px;
            object-fit: cover;
            margin-bottom: 24px;
            max-width: 100%;
            max-height: 100%;
        }
        .play {
            cursor: pointer;
            position: absolute;
            top: 36%;
            left: 45%;
        }
    }
    .ttl {
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
    }
    .txt {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #97A1B0;
    }
    &:hover .tlt {
        color: #29ABE2;
    }
}

@media (max-width: 912px) {
    .box__slider {
        margin-right: 30px;
        .video {
            iframe {
                width: 700px;
                height: 400px;
            }
        }
        .ttl {
            font-weight: 700;
            font-size: 29px;
            line-height: 32px;
            margin-bottom: 12px;
        }
        .txt {
            font-size: 22px;
            line-height: 24px;
        }
    }
}

@media (max-width: 732px) {
    .box__slider {
        .video {
            iframe {
                height: 430px;
            }
        }
    }
}

@media (max-width: 566px) {
    .box__slider {
        .video {
            iframe {
                height: 330px;
            }
        }
        .ttl {
            font-size: 22px;
        }
        .txt {
            font-size: 16px;
        }
    }
}